* {
    background-color: black;
    color: white;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500vh;
}

.cards_wrapper {
    width: 1400px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(350px, auto);
    justify-items: center;
    align-items: center;
    position: relative;

}

.card {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    position: relative;
    transform: translate3d(0 , 100px, 0);
    opacity: 0;
}


.card1,
.card3,
.card5,
.card7 {
    justify-self: end;
    margin-right: 40px;
}

.card2,
.card4,
.card6,
.card8 {
    justify-self: start;
    margin-left: 40px;
}


.card1 {
    grid-column: 1/2;
    grid-row: 1;
}

.card2 {
    grid-column: 2/2;
    grid-row: 2;
}

.card3 {
    grid-column: 1/2;
    grid-row: 3;
}

.card4 {
    grid-column: 2/2;
    grid-row: 4;
}

.card5 {
    grid-column: 1/2;
    grid-row: 5;
}

.card6 {
    grid-column: 2/2;
    grid-row: 6;
}



/* Lines Grid 2 */


.line {
    transform: scale(0);
}

.line1,
.line3,
.line5,
.line7,
.line9 {
    grid-column: 2/2;
}

.line1 {
    grid-row: 1;
}

.line3 {
    grid-row: 3;
}

.line5 {
    grid-row: 5;
}

.line7 {
    grid-row: 7;
}

.line9 {
    grid-row: 9;
}




.line1::after,
.line3::after,
.line5::after,
.line7::after,
.line9::after {
    content: '';
    position: absolute;
    width: 190px;
    border: 2px dashed white;
    transform: translateX(-182%);
}

.line1::before,
.line3::before,
.line5::before,
.line7::before,
.line9::before {
    content: '';
    position: absolute;
    border: 2px dashed white;
    height: 270px;
    transform: translate(-163px, 5px);

}

/* Lines Grid 1 */

.line2,
.line4,
.line6,
.line8,
.line10 {
    grid-column: 1/2;
}

.line2 {
    grid-row: 2;
}

.line4 {
    grid-row: 4;
}

.line6 {
    grid-row: 6;
}

.line8 {
    grid-row: 8;
}

.line10 {
    grid-row: 10;
}

.line2::before,
.line4::before,
.line6::before,
.line8::before,
.line10::before {
    content: '';
    position: absolute;
    border: 2px dashed white;
    height: 270px;
    transform: translate(163px, 3px);
}

.line2::after,
.line4::after,
.line6::after,
.line8::after,
.line10::after {
    content: '';
    position: absolute;
    width: 190px;
    border: 2px dashed white;
    transform: translate(163px, 0);;
}








.card1::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    color: black;
    font-weight: 900;
    right: 13px;
    border-radius: 50%;
    transform: translate(21px, 94.5px);

}

.card1::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    border: 1px solid white;
    right: 8.5px;
    border-radius: 50%;
    transform: translate(21px, 89.5px);

}

.card2::after,
.card3::after,
.card4::after,
.card5::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transform: translate(94px, -8px);

}

.card2::before,
.card3::before,
.card4::before,
.card5::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    border: 1px solid white;
    border-radius: 50%;
    transform: translate(89.5px, -12px);

}


.card6::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    color: black;
    font-weight: 900;
    right: 13px;
    border-radius: 50%;
    transform: translate(-77px, -8px);

}

.card6::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    border: 1px dashed white;
    right: 8.5px;
    border-radius: 50%;
    transform: translate(-77.5px, -12px);

}


@media screen and (max-width: 768px) {
    .cards_wrapper {
        grid-template-columns: repeat(1, 1fr);

        .card1,
        .card2,
        .card3,
        .card4,
        .card5,
        .card6 {
            grid-column: 1/2;
        }
        

        .line1::after, 
        .line2::after,
        .line3::after,
        .line4::after,
        .line5::after {
            display: none;
        }


        .line1,
        .line2,
        .line3,
        .line4,
        .line5 {
            grid-column: 1/2;
        }

        .line1::before,
        .line2::before,
        .line3::before,
        .line4::before,
        .line5::before {
            height: 163px;
    transform: translateY(57%);
        }


    }

    .card {
        width: 100%;
    }
}

